.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers td, #customers th {
    border: 1px solid black;
    padding: 8px;
}

.customers tr:nth-child(even){background-color: black;}

.customers tr:hover {background-color: black;}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #203040;
    color: white;
}

.button222 {
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    cursor: pointer;
    background-color: #203040 ;
}
.button222:hover {
    border: 0.1rem #808080 solid;
}

